@import "tailwindcss";

:root {
  --color-background: #ffffff;
  --color-foreground: #09090b;
  --color-card: #ffffff;
  --color-card-foreground: #09090b;
  --color-popover: #ffffff;
  --color-popover-foreground: #09090b;
  --color-primary: #09090b;
  --color-primary-foreground: #fafafa;
  --color-secondary: #f4f4f5;
  --color-secondary-foreground: #09090b;
  --color-muted: #f4f4f5;
  --color-muted-foreground: #71717a;
  --color-accent: #f4f4f5;
  --color-accent-foreground: #09090b;
  --color-destructive: #ef4444;
  --color-destructive-foreground: #fafafa;
  --color-border: #e4e4e7;
  --color-input: #e4e4e7;
  --color-ring: #09090b;
  --radius: 0px; /* Cybermatic default is sharp corner */
}

/* Also support selector class dark */
.dark {
  --color-background: #09090b;
  --color-foreground: #fafafa;
  --color-card: #0c0c0e;
  --color-card-foreground: #fafafa;
  --color-popover: #09090b;
  --color-popover-foreground: #fafafa;
  --color-primary: #fafafa;
  --color-primary-foreground: #09090b;
  --color-secondary: #18181b;
  --color-secondary-foreground: #fafafa;
  --color-muted: #18181b;
  --color-muted-foreground: #a1a1aa;
  --color-accent: #18181b;
  --color-accent-foreground: #fafafa;
  --color-destructive: #7f1d1d;
  --color-destructive-foreground: #fafafa;
  --color-border: #222226;
  --color-input: #222226;
  --color-ring: #d4d4d8;
}

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --animate-spin-slow: spin 20s linear infinite;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans), system-ui, sans-serif;
  overflow-x: hidden;
}

/* Custom Cybermatic/Terminal utilities */
.ledger-border {
  border-radius: 0px !important;
  border: 1px solid var(--color-border);
}

.technical-label {
  font-family: var(--font-mono), monospace;
  font-size: 9px;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  color: var(--color-muted-foreground);
  line-height: 1;
}

/* Scanline keyframe animation */
@keyframes scan {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100vh);
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.cn-toast {
  background-color: var(--color-card) !important;
  color: var(--color-foreground) !important;
  border: 1px solid var(--color-border) !important;
  border-radius: 0px !important;
  font-family: var(--font-mono), monospace !important;
  font-size: 10px !important;
  text-transform: uppercase !important;
  letter-spacing: 0.05em !important;
}
